layout {
	tab name="Term" {
		pane size=1 borderless=true {
			plugin location="tab-bar"
		}
		pane
		pane size=1 borderless=true {
			plugin location="status-bar"
		}
	}

	tab name="Vim" {
		pane size=1 borderless=true {
			plugin location="tab-bar"
		}
		pane {
			command "nvim"
			args "."
		}
		pane size=1 borderless=true {
			plugin location="status-bar"
		}
	}
}
